# .gitignore

# python cache
__pycache__/*
__pycache__/
*.pyc

# vscode configs
.vscode

# run dir
/runs/*
!/runs/.gitkeep

# datasets dir
/datasets/*
!/datasets/.gitkeep

# ultralytics
/ultralytics/*
!/ultralytics/.gitkeep

# ScrGrabber
/ScrGrabber

# medias
*.mp4
*.png
*.jpg


/tt.py

# midas
/midas/*
!/midas/.gitkeep

# gen-efficientnet-pytorch
/gen-efficientnet-pytorch/*
!/gen-efficientnet-pytorch/.gitkeep

# models
/model/*
!/model/.gitkeep
*.pt

# data dirs
/HMP_IL
/Grabber
/imitation_TRAIN
/VISUALIZE_logdir

# uml
*.dot